@model ASG.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
    Layout = null;
}
<html>
<head>
    <title>Registration</title>
    <meta charset="utf-8" />
    <link href="~/Theam/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Theam/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Theam/css/custom.css" rel="stylesheet">
</head>
<body class="forms-main">
    <section>

        <div class="container form-box">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-8 col-sm-12">
                    @using (Html.BeginForm("Registration", "UserManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="regi-box">
                            <div class="row">
                                <div class="col text-center">
                                    <div class="alert alert-danger" id="Error" style="display:none; margin-top: 20px;">
                                        <strong><span class="errormessage"></span></strong>
                                    </div>
                                    @if (ViewBag.sucess != null)
                                    {
                                        <div class="alert alert-success" id="sucess" style="margin-top: 20px;">
                                            <strong><span class="">Registration has been sucessfully.</span></strong>
                                        </div>
                                    }
                                    @if (ViewBag.error != null)
                                    {
                                        <div class="alert alert-danger" id="sucess1" style="margin-top: 20px;">
                                            <strong><span class="">Something missing.</span></strong>
                                        </div>
                                    }
                                    <div class="logo-main pb-5 pt-3">
                                        <img src="~/Theam/images/asg.png" />

                                    </div>
                                    <h1 class="box-title">Registration</h1>
                                    <p class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                
                                    <div class="col mt-4">
                                        @Html.ValidationMessageFor(model => model.Name, "*", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @tabindex = "1", autocomplete = "off", placeholder = "Name" } })
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4">
                                    <div class="col">
                                        @Html.ValidationMessageFor(model => model.Name, "*", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @tabindex = "2", autocomplete = "off", @type = "Email", placeholder = "Email", onchange = "return onchangecEmail();" } })
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4">
                                    <div class="col">
                                        @Html.ValidationMessageFor(model => model.Name, "*", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @tabindex = "3", autocomplete = "off", @type = "password", placeholder = "Password" } })

                                    </div>
                                    <div class="col">
                                        @Html.ValidationMessageFor(model => model.Name, "*", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @tabindex = "4", autocomplete = "off", @type = "password", placeholder = "Confirm Password" } })

                                    </div>
                                </div>
                                <div class="row text-center mt-4">
                                    <div class="col">
                                        <div class="form-check">

                                            <input type="checkbox" id="chkagreement" class="form-check-input" tabindex="5" onchange="return onchangecheckbox();">
                                            <label class="form-check-label ml-3" style="vertical-align: middle;">
                                                I Read and Accept <a href="#d">Terms and Conditions</a>
                                            </label>
                                        </div>

                                        <input type="submit" id="btnRegister"  class="button outline-outward mt-4" title="Register Now" value="Register Now" />
                                    </div>
                                </div>
                            </div>

                    }
                </div>
            </div>
        </div>
    </section>
    <script src="~/Theam/js/jquery.min.js"></script>
    <script src="~/Theam/js/popper.min.js"></script>
    <script src="~/Theam/js/bootstrap.min.js"></script>
    <script src="~/PageJs/Registration.js"></script>
</body>
</html>
